@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2017-04-20 18:36:28
 * 
 */

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

body {
    background: #fff;
}

.text-blue {
    color: #1b99e6;
}

.text-red {
    color: #e41d41;
}


/*首页*/

.cruise-describe {
    overflow: hidden;
    padding: 15px 0;
}

.cruise-describe .cruise-pic {
    width: 40px;
    height: 50px;
    background: url(../img/p1_2x.png) bottom no-repeat;
    float: left;
}

.cruise-describe .cruise-pic img {
    width: 100%;
}

.cruise-describe .t1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    float: left;
    padding: 8px 10px 0;
}

.cruise-describe .t2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    font-weight: normal;
    display: inline-block;
    float: left;
    padding-top: 16px;
}
